---
BasedOnStyle: LLVM
ColumnLimit: 120
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
SortIncludes: CaseInsensitive
SpaceBeforeCpp11BracedList: true